<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello FactsVsEvents!</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-pills" style="float:right ">
        <%= if logged_in?(@conn) do %>
          <li><%= current_user(@conn).email %></li>
          <li></li>
          <li><%= link "Logout", to: session_path(@conn, :delete), method: :delete %></li>
        <% else %>
          <li><%= link "Login",    to: "/login" %></li>
          <li><%= link "Register", to: registration_path(@conn, :new) %></li>
        <% end %>
      </ul>

      <%= if logged_in?(@conn) do %>
        <header class="header">
          <nav role="navigation">
            <ul class="nav nav-tabs">
              <li class=""><a href="<%= fact_user_path(@conn, :index) %>">Facts User</a></li>
              <li class=""><a href="<%= event_user_path(@conn, :index) %>">Events User</a></li>
            </ul>
          </nav>

        </header>
      <% end %>

      <p class="alert alert-info" style="margin-top:15px" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" style="margin-top:15px" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
