<h2>Edit event user</h2>

<%= if Map.has_key?(@conn.assigns, :errors) do %>
  <div class="alert alert-danger">
    <p><%= @errors %></p>
  </div>
<% end %>

<%= render "form.html", event_user: @event_user,
                        conn: @conn,
                        action: event_user_path(@conn, :update, @event_user.uuid),
                        options: [as: :event_user, method: :put] %>
