<h2>New event user</h2>

<%= if Map.has_key?(@conn.assigns, :errors) do %>
  <div class="alert alert-danger">
    <p><%= @errors %></p>
  </div>
<% end %>

<%= render "form.html", user: @user,
                        conn: @conn,
                        action: event_user_path(@conn, :create),
                        options: [as: :event_user] %>
